// Layout
.l-container--padded {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h2.feedback--title {
  margin-top: 3rem;
  font-size: 1rem;
}

p.feedback--question {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

// Fonts
@font-face {
  font-family: 'Airbnb Cereal VF';
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2-variations');
  font-style: normal;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2') format('woff2-variations');
  font-style: italic;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  unicode-range: U+0600-06FF, U+0750-077F;
  font-style: normal;
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  unicode-range: U+0400-04FF;
  font-style: normal;
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  unicode-range: U+0590-05FF, U+FB00-FB4F;
  font-style: normal;
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2-variations');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  unicode-range: U+0900-097F;
  font-style: normal;
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  unicode-range: U+0E00-0E7F;
  font-style: normal;
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal VF';
  unicode-range: U+0370-03FF;
  font-style: normal;
  src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2') format('woff2-variations');
  font-display: swap;
}

header, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .lead {
  font-family: 'Airbnb Cereal VF', Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: normal;
}

.td-navbar .nav-link, .td-navbar .navbar-brand__name {
  font-weight: normal;
  color: #fff;
}

a, p > a {
  color: $primary;
}

a:hover, p > a:hover {
  color: darken($primary, 20%);
  text-decoration: none;
}

// Cover image
.td-overlay--dark::after {
  background-image: linear-gradient(rgba(64, 63, 76, 0.3), 60%, rgba(64, 63, 76, 0.0));
  background-color: transparent;
}

// Embedded Github content
table.hljs-ln td {
  padding: 0 1rem 0 0 !important;
}

code.hljs {
  background-color: #fff !important;
}

.td-content pre {
  background-color: #fff !important;
}

nav#TableOfContents::before {
  content: "On this page";
}

.container .pageinfo {
  font-weight: normal;
  color: $dark;
  a {
    color: $purple;
  }
}

